/* ==================================================================
                            Font Family 
================================================================== */

@font-face {font-family: 'Baltica';src:url('../fonts/Baltica.eot');src:url('../fonts/Baltica.eot?#iefix') format('embedded-opentype'),url('../fonts/Baltica.woff2') format('woff2'),url('../fonts/Baltica.woff') format('woff'),url('../fonts/Baltica.ttf') format('truetype'),url('../fonts/Baltica.svg#Baltica') format('svg');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Baltica';src:url('../fonts/BalticaBold.eot');src:url('../fonts/BalticaBold.eot?#iefix') format('embedded-opentype'),url('../fonts/BalticaBold.woff2') format('woff2'),url('../fonts/BalticaBold.woff') format('woff'),url('../fonts/BalticaBold.ttf') format('truetype'),url('../fonts/BalticaBold.svg#BalticaBold') format('svg');font-weight: bold;font-style: normal;font-display: swap;}
@font-face {font-family: 'Gotham';src:url('../fonts/Gotham-Light.eot');src:url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Gotham-Light.woff2') format('woff2'),url('../fonts/Gotham-Light.woff') format('woff'),url('../fonts/Gotham-Light.ttf') format('truetype'),url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');font-weight: 300;font-style: normal;font-display: swap;}
@font-face {font-family: 'Gotham';src:url('../fonts/Gotham-Book.eot');src:url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),url('../fonts/Gotham-Book.woff2') format('woff2'),url('../fonts/Gotham-Book.woff') format('woff'),url('../fonts/Gotham-Book.ttf') format('truetype'),url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Gotham';src:url('../fonts/Gotham-Medium.eot');src:url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Gotham-Medium.woff2') format('woff2'),url('../fonts/Gotham-Medium.woff') format('woff'),url('../fonts/Gotham-Medium.ttf') format('truetype'),url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');font-weight: 500;font-style: normal;font-display: swap;}
@font-face {font-family: 'Gotham';src:url('../fonts/Gotham-Bold.eot');src:url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Gotham-Bold.woff2') format('woff2'),url('../fonts/Gotham-Bold.woff') format('woff'),url('../fonts/Gotham-Bold.ttf') format('truetype'),url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');font-weight: bold;font-style: normal;font-display: swap;}
@font-face {font-family: 'Lora';src:url('../fonts/Lora-Regular.eot');src:url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Lora-Regular.woff2') format('woff2'),url('../fonts/Lora-Regular.woff') format('woff'),url('../fonts/Lora-Regular.ttf') format('truetype'),url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'MarkOT';src:url('../fonts/MarkOT-Bold.eot');src:url('../fonts/MarkOT-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/MarkOT-Bold.woff2') format('woff2'),url('../fonts/MarkOT-Bold.woff') format('woff'),url('../fonts/MarkOT-Bold.ttf') format('truetype'),url('../fonts/MarkOT-Bold.svg#MarkOT-Bold') format('svg');font-weight: bold;font-style: normal;font-display: swap;}

/* ==================================================================
                            End Font Family 
================================================================== */


dl,ol,ul,h1,h2,h3,h4,h5,h6,p,body{margin: 0%;padding: 0%;}
   
html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    /* overflow-y: hidden; */
}

/* .icontainer{max-width: ;} */
/* Navigation Start */

.my_nav{display: block; margin: 0 auto;text-align: center;margin: 0 0 50px 0;}
.my_nav .nav-item{display: inline-block;padding: 20px 50px;position: relative;}
.my_nav .nav-item-f{display: inline-block;padding: 20px 50px;position: relative;}
.my_nav .nav-item {color: #00527d !important;text-decoration: none;font-size: 30px; font-family: 'Baltica',sans-serif;}
.my_nav .nav-item-f {color: #fff;text-decoration: none;font-size: 30px; font-family: 'Baltica',sans-serif;}
.my_nav .nav-item img{height: auto;width: 60%;}
.my_nav .nav-item-f img{height: auto;width: 60%;}

/* Custom Navbar by Bootstrap */
.navbar-light .navbar-toggler{color: transparent;border-color: transparent;}
.navbar-toggler:focus, .navbar-toggler:hover{text-decoration: none;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: #00527d;}
.navbar-brand img{display: none;}
    
.my_nav .active{font-weight: bold; }
.my_nav .active:before {  content:url('../img/home/hover.png');left: 0; right: 0; position: absolute; bottom: 50px;}
.my_nav .nav-item a:hover{font-weight: bolder;content: url('../img/home/hover.png'); position: relative;}

.my_nav .nav-item-f:nth-child(1):hover::before,
.my_nav .nav-item-f:nth-child(2):hover::before,
.my_nav .nav-item-f:nth-child(4):hover::before,
.my_nav .nav-item-f:nth-child(5):hover::before
{content: url('../img/home/hover-f.png');left: 0;right: 0;position: absolute; bottom: 50px;}
.my_nav .nav-item-f:hover,.my_nav .nav-item:hover{font-weight: bold;}

.my_nav .nav-item:nth-child(1):hover::before,
.my_nav .nav-item:nth-child(2):hover::before,
.my_nav .nav-item:nth-child(4):hover::before,
.my_nav .nav-item:nth-child(5):hover::before
{content: url('../img/home/hover.png');left: 0;right: 0;position: absolute; bottom: 50px;font-weight: bold;}


.menu-contact,
.my_nav .head-data .navbar-brand,
.my_nav .head-data .nav-button{display: none;}



/* Navigation Ends */


/* Banner Area Start*/
.topbar{background-image: url('../img/home/home-banner.jpg');background-attachment: fixed;background-size: cover;}
.banner-content{display: block;margin: 0 auto;text-align: center;max-width: 100%;padding: 100px 0 150px 0;}
.banner-content h1{color: #fff;font-size: 90px;line-height: 94px;margin: 0 0 25px 0 ;font-family: 'Baltica',sans-serif;}
.banner-content p {text-align: center;margin: 0 auto;display: block;font-family: 'Gotham',sans-serif;font-weight: 300;font-size: 28px;color: #fff;max-width: 80%;}
/* Banner Area Ends*/


/* About Started */
.about{margin: 200px 0;}
.about span{ font-family: 'Gotham';font-weight: 500; text-transform: uppercase;letter-spacing: 1px;color: #00527d;font-size: 20px;}
.about span::after{content: '';display: block;width: 45px;padding:5px 0 0 0;border-bottom: 2px solid #00527d;}
.about-content h1{font-size: 93px;font-family: 'Baltica';color: #00527d;letter-spacing: 0;width: 90%;margin:20px 0 50px 0;}
.about-content  p, .service-content p {font-family: 'Gotham',sans-serif;font-size: 20px;font-weight: 300;text-align: justify;margin: 0 0 25px 100px;max-width: 61%;}
.about-content a , .service-content a{font-family: 'Gotham',sans-serif;font-size: 16px;font-weight: 400;margin: 0 0 0 100px;color: #00527d;text-transform: uppercase;letter-spacing: 2px;text-decoration: underline;}
/* About Ends */

/* feature section started*/
.feature{ margin: 0 0 150px 0; position: relative; }
.feature .about-banner{position: relative;}
.feature .about-logo{width: 100%;position: absolute;top: 80%;right: 0;max-width: 20%;}
/* feature section ends */

/* Services Section starts*/
.services{ margin: 0 0 100px 0; }
.services span{ font-family: 'Gotham';font-weight: 500; text-transform: uppercase;letter-spacing: 1px;color: #00527d;font-size: 20px;}
.services span::after{content: '';display: block;width: 45px;padding:5px 0 0 0;border-bottom: 2px solid #00527d;}
.service-content h1{font-size: 93px;font-family: 'Baltica';color: #00527d;letter-spacing: 0;width: 50%;margin:20px 0 50px 0;}
.service-content .container{ margin: 0 0 0 100px; }
.service-content .container h6{font-size: 25px; font-family: 'Gotham',sans-serif;font-weight: 500;color: #00527d;padding: 10px 0;}
.service-content .container .row a{font-family: 'Gotham',sans-serif;font-size: 16px;font-weight: 400;margin: 0 0 0 0px;color: #00527d;text-transform: uppercase;letter-spacing: 2px;text-decoration: underline;}
.service-content .container .row p{font-family: 'Gotham',sans-serif;font-size: 18px;font-weight: 300;text-align: left;margin: 0px 0 50px 0;max-width: 85%;}
.service-content .container .row ul{font-family: 'Gotham',sans-serif;font-weight: 300;padding: 0 0 0 15px;max-width: 80%; }
.service-content .container .row ul li{padding: 0 0 20px 0;}
/* Services Section ends*/

/* Testinomial Section starts */
.touch-in{margin: 0 0 70px 0;}
.touch-in .vine {max-width: 30%;position: absolute;bottom: 60%;right: 0;left: -10px;}
/* second Column */
.touch-in .row .col-md-6:nth-child(2){ margin: auto 0;padding: 0px 0;}
.touch-in  .head-text{display: block; margin: 0 auto; text-align: center;font-family: 'Baltica',sans-serif;font-size: 35px; color: #00527d;}
.touch-in  p{font-family: 'Gotham',sans-serif; font-weight: 300; color: #282828;padding: 0 120px 0 115px; font-size: 18px;}
.touch-in .social {margin: 20px 0 0 115px;}
.touch-in .social .social-icon{display: inline-block;padding: 0 10px 0 0;}
.touch-in .social .social-icon i{color: #00527d;}
/* Testinomial Section ends */

/* Customer-feedback */
.customer-review{margin: 0 0 70px 0;}
.customer-review .container p{color: #00527d;font-family: 'Baltica',sans-serif;font-size: 30px;    }
.customer-review .container p:last-child{text-align: right;}

/* Footer */
footer{background-color: #021d2c;}
footer .custom-container{max-width: 1450px;}
footer .custom-container{margin-right:auto;margin-left:auto;padding: 0 15px;}
footer .main-footer img{position: relative;bottom: 5px;}
footer .main-footer{padding: 30px 0 20px 0;}
footer .main-footer p a{color: #fff;font-family: 'Baltica';text-decoration: none;font-size: 20px;}
footer .footer_menu {list-style-type: none;}
footer .main-footer .col-md-1:nth-child(2){background-color: green;}
footer .col-md-1{text-align: right;}
footer .footer_menu .footer_links a{text-align: center;color: #fff;text-decoration: none;font-family: 'Baltica'; font-size: 20px;}

/* Secondry-Footer */
.secondry-footer{font-family: 'Gotham'; border-top: 1px solid #6c6c6c;padding: 20px 0;font-size: 17px;color: #6c6c6c;}
.secondry-footer .footer_links span{padding: 0 05px;font-size: 15px;}
footer .col-md-4{text-align: right;}
footer .secondry-footer .footer_links span a{font-size: 18px;color: #6c6c6c;text-decoration: none;}
.secondry-footer .copyright {text-align: center;padding: 0 0 0 230px;}
.secondry-footer .col-md-3 span:last-child{display: none;}



/* ==================================================================
                    About.html Css Starts 
================================================================== */
.header{width: 100%;}
.about-me .container-1{max-width: 1300px;margin: 0 auto;padding: 0 15px 0 20px;}
.hero,.showcase,.about-me {margin: 0 0 100px 0;}
.hero .hero-content{padding: 0px 0px 0px 0px;}
.hero .hero-content h1{font-family: 'Baltica';font-size: 93px;max-width: 70%;color: #00527d;padding: 0 0 50px 0;}
.hero .hero-content p{font-family: 'Gotham';font-weight: 300;max-width: 65%;font-size: 20px;padding: 0 0 0 90px;}
.about-me img{max-width: 75%;}
.about-me span{font-family: 'Baltica';font-size: 40px;color: #00527d;position: relative;bottom: 5px;}
.about-me p{font-size: 20px;padding: 0 0 30px 0;font-family: 'Gotham';font-weight: 300;letter-spacing: 0.5px;line-height: 30px;} 
.about-me p:nth-child(2){padding: 20px 0 20px 0;}

/* ==================================================================
                    About.html Css Ends 
================================================================== */

/* ==================================================================
Service.html Css Starts 
================================================================== */

.services-details, .service-feature, .customer-review {margin: 0 0 100px 0;}
.service-hero .hero-content h1{font-family: 'Baltica';font-size: 93px;max-width: 75%;color: #00527d;padding: 0 0 50px 0;}
.service-hero .hero-content p{font-family: 'Gotham';font-weight: 300;max-width: 65%;font-size: 18px;padding: 0 0px 0 90px;}
.services-details .row{padding: 0 0 50px 0;}
.services-details span{font-size: 40px; font-family: 'Baltica';color: #00527d;padding: 0 0 0 35px;}
.services-details .details {padding: 15px 15px 15px 50px;}
.services-details .details li {padding: 10px 0px 10px 0px;font-family: 'Gotham'; font-weight: 300;}


/* ==================================================================
                    Service.html Css Ends 
================================================================== */



/* ==================================================================
                    Portfolio.html Css Starts 
================================================================== */
.portfolio-1 ,.portfolio-2 {margin: 0 0 100px 0;}
.portfolio-1 .row,.portfolio-2 .row { margin: 0 0 30px 0;}
.portfolio-review p {font-size: 20px;}
/* .portfolio-1 .img-3 ,.portfolio-2 .img-6{height: 350px;width: auto;} */
.portfolio-1 .crop,.portfolio-2 .crop{overflow: hidden;}
.portfolio-2 .img-7 {margin: -150px 0px -310px 0px;}
.portfolio-1 .img-3 ,.portfolio-2 .img-6{margin: -310px 0px -310px 0px;}

/* ==================================================================
                    Portfolio.html Css Ends 
================================================================== */


/* ==================================================================
                     Contact.html Css Starts 
================================================================== */

.contact-hero .contact-info p,
.contact-hero .col-md-1 p{padding: 0;}
.contact-hero .col-md-3,.contact-hero .col-md-1{padding: 20px 0 0 0;}
.contact-hero .hero-content h1{font-size: 90px;max-width: 90%;}
.contact-hero .contact-info p,.contact-hero .col-md-1 p{font-family: 'Gotham';font-weight: 500;letter-spacing: 1px;font-size: 20px;color: #00527d;padding: 20px 0 0 0;}
.contact-hero .contact-info a{color: #000;font-family:'Gotham';font-weight: 300;}
.contact-hero .contact-info p::after,
.contact-hero .col-md-1 p::after{content: '';display: block;width: 35px;padding:5px 0 0 0;border-bottom: 2px solid #00527d;}
.contact-hero .col-md-1 .social{list-style-type: none; padding: 10px 0 0 0;text-decoration: underline;}
.contact-hero .col-md-1 .social .sc-links a{color: #000;font-family: 'Gotham';font-weight: 300;}
/* Hero Section Ended */

/* Form Section Started */
input[type=text] {width: 100%;background-color: transparent;border: none;color: black;padding: 15px 0;text-decoration: none;margin: 30px 0px;border-bottom: 1px solid black; }
input[type=email] {width: 100%;background-color: transparent;border: none;color: black;padding: 15px 0;text-decoration: none;margin: 30px 0px;border-bottom: 1px solid black;  }
.contact-form input[type=text]:focus,input[type=email]:focus,textarea:focus{border: none;outline: none;border-bottom: 1px solid black;}
.contact-form .row .col-md-12 input[type=text]{width: 48.5%;}
.contact-form a:hover{background-color: #00527d !important;color: #fff !important;}
.contact-form a:focus{border: none;outline: none;}
textarea {width: 100%;padding: 20px 0px;margin: 30px 0;box-sizing: border-box;background-color: #fff;border: none;border-bottom: 1px solid black;resize: none;}
.contact-form a{float: right;margin: 20px 0px;border: 1px solid #00527d;background-color: #fff;color: #00527d;border-radius: 0%;padding: 10px 20px; }
.contact-form{ margin-bottom: 150px; }
::placeholder { color: #5e5e5e; font-size: 20px; text-transform: capitalize;font-family: 'Gotham';font-weight: 300;}
  
/* ==================================================================
                     Contact.html Css Ends 
================================================================== */



/* ==================================================================
                    terms & conditions.html Css Starts 
================================================================== */

/* ==================================================================
                    terms & conditions.html Css Ends 
================================================================== */


/* ==================================================================
                    privacy & pocily Css Starts 
================================================================== */
.pp-hero .hero-content h1{  padding: 0%;}
.pp-hero .pp-hero-content h1{max-width: 100% !important;}

.pp-hero .hero-content {padding: 0px 0 0 0px;}
.pp-hero{margin: 0 0 10px 0;}
.content{margin: 0 0 80px 0;}
.content p{font-family: 'Gotham';font-weight: 300;font-size: 25px;padding: 0 0 30px 0;}
/* ==================================================================
                    privacy & pocily Css Ends 
================================================================== */


/* ==================================================================
                    404 Css Starts 
================================================================== */

.hero .content-404 h1{padding: 0%;max-width: 75%;}
.hero .content-404{padding:  0px 0 0 0;}
.hero-404{margin: 0 050px 0;}
.main-text{margin: 0 0 100px 0;}
.main-text p{padding:  50px 0 0 0;font-size: 20px;font-family: 'Gotham'; font-weight: 300; color: #00527d;font-size: 30px;}
.main-text img{max-width: 100%;padding:50px 0 0px 0;}



/* .vijay_nav{background-color: #0082e6;height: 80px;} */
/* .vijay_nav .logoX{color: white;font-size: 35px;line-height: 80px;padding: 0 100px;font-weight: bold;} */
/* .vijay_nav ul{float: right; margin-right: 20px;} */
/* .vijay_nav ul li{display: inline-block;line-height: 80px; margin: 0 5px;} */
/* .vijay_nav ul li a{color: white;font-size: 17px;text-transform: uppercase;padding: 7px 13px;border-radius: 3px;} */
/* .vijay_nav  ul li a.active,a:hover{background-color: #025aa5;transition: 0.02s;text-decoration: none;} */
/* .checkbtn{font-size: 20px; cursor: pointer; color: white;float: right;margin: 0 40px 0 0;line-height: 80px;display: none;} */
/* #check{display: none;} */

@media(max-width:952px){
  /* .vijay_nav ul li a{font-size: 16px;} */
  /* label.logoX{font-size: 20px;padding-left: 50px;} */
}
@media(max-width:859px){
  /* .checkbtn{display: block;} */
  /* .vijay_nav ul{position: absolute;width: 100%;height: 50vh;background-color: #2c3e50;top: 0px;left:-100%;text-align: center;z-index: 5;transition: all .5s;} */
  /* .vijay_nav ul li{display: block;margin: 50px 0; line-height: 30px;}  */
  /* .vijay_nav ul li a{font-size: 20px;} */
  /* a.active,a:hover{background-color: #0082e6;transition: 0.02s;text-decoration: none;} */
  /* #check:checked ~ ul{left: 0;} */

}
/* ==================================================================
                    404 Css Ends 
================================================================== */


/* Hambergurmenu CSS */

.topbar .openNav,
.topbar a .openImgNav {display: none;}

.openNav,a .openImgNav,.span {display: none;}

.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #00527d; 
  /* background-color: rgba(12, 84, 127, 0.5) !important;  */
  overflow-x: hidden;
  transition: 0.5s; 
}


/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: 'Baltica';
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #000;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* myNav overlay */
